<!DOCTYPE html>
<html>
<head>
    <title>Representative Profile</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .container {
            text-align: center;
            margin-top: 50px;
        }
        .profile-info {
            font-size: 1.5em;
            font-weight: bold;
            margin: 10px 0;
        }
        .profile-info span {
            display: inline-block;
            min-width: 120px;
            text-align: right;
        }
        .profile-info div {
            display: inline-block;
            text-align: left;
            margin-left: 20px;
        }
        img {
            max-width: 200px;
            height: auto;
            margin: 20px 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1><%= @representative.name %></h1>
        <img src="<%= @representative.photo_url %>" alt="Profile picture of <%= @representative.name %>">
        <div class="profile-details">
            <div class="profile-info"><span>OCD ID:</span><div><%= @representative.ocdid %></div></div>
            <div class="profile-info"><span>Title:</span><div><%= @representative.title %></div></div>
            <div class="profile-info"><span>Party:</span><div><%= @representative.party %></div></div>
            <div class="profile-info"><span>Address:</span><div><%= "#{@representative.street}, #{@representative.city}, #{@representative.state} #{@representative.zip}" %></div></div>
        </div>
    </div>
</body>
</html>
